.theme-default .nivoSlider {
  margin-bottom: -50px;
  z-index: -1;
}
.theme-default .nivo-controlNav {
  z-index: 1;
}
a {
  text-decoration: none;
}
a:hover,
a:active {
  color: #ff7bac !important;
}
.wow {
  visibility: hidden;
}
.wrapper {
  font-family: Helvetica, sans-serif;
  color: #4a4a4a;
  width: 100vw;
  overflow: hidden;
}
@media screen and (min-width: 1920px) and (max-width: 2560px) {
  .wrapper header {
    width: 85%;
  }
}
.wrapper header .navbar {
  transform: translate3d(0, 0, 0);
  position: fixed;
  width: 100vw;
  height: 135px;
  z-index: -99;
  background-color: #fff;
}
@media screen and (max-width: 768px) {
  .wrapper header .navbar {
    height: 120px;
  }
}
@media screen and (max-width: 736px) {
  .wrapper header .navbar {
    height: 80px;
  }
}
.wrapper header .slider-wrapper {
  width: 83vw;
  max-width: 1600px;
  float: right;
  margin: 118px 20px 150px 0px;
}
@media screen and (max-width: 736px) {
  .wrapper header .slider-wrapper {
    float: none;
    width: 100vw;
    margin: 80px auto;
    position: absolute;
  }
}
.wrapper header nav #nav-icon {
  display: none;
}
@media screen and (max-width: 768px) {
  .wrapper header nav #nav-icon {
    z-index: 11;
    display: block;
    width: 60px;
    height: 45px;
    position: relative;
    margin: 50px 35px 0 0;
    float: right;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
  }
}
.wrapper header nav #nav-icon span {
  display: block;
  position: absolute;
  height: 9px;
  width: 100%;
  background: #3cc;
  border-radius: 9px;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
@media screen and (max-width: 736px) {
  .wrapper header nav #nav-icon span {
    height: 6px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper header nav #nav-icon span:nth-child(1) {
    top: 0px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper header nav #nav-icon span:nth-child(2),
  .wrapper header nav #nav-icon span:nth-child(3) {
    top: 18px;
  }
}
@media screen and (max-width: 736px) {
  .wrapper header nav #nav-icon span:nth-child(2),
  .wrapper header nav #nav-icon span:nth-child(3) {
    top: 12px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper header nav #nav-icon span:nth-child(4) {
    top: 36px;
  }
}
@media screen and (max-width: 736px) {
  .wrapper header nav #nav-icon span:nth-child(4) {
    top: 24px;
  }
}
@media screen and (max-width: 768px) and (max-width: 736px) {
  .wrapper header nav #nav-icon {
    width: 45px;
    height: 35px;
    margin: 20px 10px 0 0;
  }
}
@media screen and (max-width: 768px) {
  .wrapper header nav #nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}
@media screen and (max-width: 736px) {
  .wrapper header nav #nav-icon.open span:nth-child(1) {
    top: 12px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper header nav #nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@media screen and (max-width: 768px) {
  .wrapper header nav #nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
}
@media screen and (max-width: 768px) {
  .wrapper header nav #nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
}
@media screen and (max-width: 736px) {
  .wrapper header nav #nav-icon.open span:nth-child(4) {
    top: 12px;
  }
}
.wrapper header nav .rightnav {
  float: right;
  margin-right: 35px;
}
@media screen and (min-width: 1920px) and (max-width: 2560px) {
  .wrapper header nav .rightnav {
    margin-right: 200px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper header nav .rightnav {
    float: none;
    margin-right: -110%;
    margin-top: 130px;
    -webkit-transition: margin-right 1s;
    -moz-transition: margin-right 1s;
    -o-transition: margin-right 1s;
    transition: margin-right 1s;
  }
}
.wrapper header nav .rightnav #link {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  position: relative;
}
@media screen and (max-width: 768px) {
  .wrapper header nav .rightnav #link {
    z-index: 11;
  }
}
.wrapper header nav .rightnav #link a {
  font-size: 2.5em;
  color: #ffc0cb;
  display: block;
  text-align: right;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .wrapper header nav .rightnav #link a {
    color: #fff;
  }
}
.wrapper header nav .rightnav ul {
  text-align: right;
  margin-top: -2%;
}
@media screen and (max-width: 768px) {
  .wrapper header nav .rightnav ul {
    margin-top: auto;
    z-index: 11;
  }
}
.wrapper header nav .rightnav ul li {
  font-family: Arial Black;
  font-weight: bolder;
  font-size: 4em;
  color: #9b9b9b;
  list-style: none;
  display: none;
}
@media screen and (max-width: 768px) {
  .wrapper header nav .rightnav ul li {
    font-size: 2.5em;
    color: #4a4a4a;
  }
}
@media screen and (max-width: 768px) {
  .wrapper header nav .rightnav.open {
    margin-right: 5%;
    -webkit-transition: margin-right 1s;
    -moz-transition: margin-right 1s;
    -o-transition: margin-right 1s;
    transition: margin-right 1s;
  }
}
.wrapper header nav #coverbox {
  position: absolute;
}
@media screen and (max-width: 768px) {
  .wrapper header nav #coverbox {
    z-index: 10;
    width: 100vw;
    height: 100vh;
    top: 0px;
    left: 100%;
    background-color: #3cc;
    opacity: 0.5;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
  }
}
@media screen and (max-width: 768px) {
  .wrapper header nav #coverbox.open {
    left: 0px;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
  }
}
.wrapper header .logo {
  z-index: 100;
  position: absolute;
  padding-top: 150px;
  left: 35px;
}
@media screen and (min-width: 1920px) and (max-width: 2560px) {
  .wrapper header .logo {
    left: 200px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper header .logo {
    padding-top: 120px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .wrapper header .logo {
    left: 10px;
    padding-top: 500px;
  }
}
@media screen and (max-width: 736px) {
  .wrapper header .logo {
    left: 5px;
    padding-top: 30vh;
  }
}
@media screen and (min-width: 425px) and (max-width: 479px) {
  .wrapper header .logo {
    left: 5px;
    padding-top: 320px;
  }
}
@media screen and (min-width: 320px) and (max-width: 424px) {
  .wrapper header .logo {
    left: 5px;
    padding-top: 300px;
  }
}
.wrapper header .logo h1 {
  display: none;
}
.wrapper header .logo i.logoimg {
  display: block;
  width: 700px;
  height: 550px;
  background: url("../images/natasalogoA.gif") no-repeat top left;
}
@media screen and (max-width: 1024px) {
  .wrapper header .logo i.logoimg {
    background-size: 90%;
  }
}
@media screen and (max-width: 736px) {
  .wrapper header .logo i.logoimg {
    width: 380px;
    background-size: 100%;
  }
}
@media screen and (min-width: 425px) and (max-width: 479px) {
  .wrapper header .logo i.logoimg {
    width: 700px;
    background-size: 60%;
  }
}
@media screen and (min-width: 320px) and (max-width: 424px) {
  .wrapper header .logo i.logoimg {
    width: 250px;
    background-size: 100%;
  }
}
.wrapper header .logom {
  z-index: -2;
  position: fixed;
  left: 35px;
}
@media screen and (min-width: 1920px) and (max-width: 2560px) {
  .wrapper header .logom {
    left: 120px;
  }
}
@media screen and (min-width: 480px) and (max-width: 768px) {
  .wrapper header .logom {
    left: 10px;
  }
}
@media screen and (max-width: 736px) {
  .wrapper header .logom {
    left: 5px;
  }
}
.wrapper header .logom h1 {
  display: none;
}
.wrapper header .logom i#logom {
  z-index: -1;
  display: block;
  width: 106px;
  height: 226px;
  margin-top: 5px;
  background: url("../images/logo02.svg") no-repeat top left;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
}
@media screen and (min-width: 425px) and (max-width: 736px) {
  .wrapper header .logom i#logom {
    background-size: 60%;
  }
}
@media screen and (min-width: 320px) and (max-width: 424px) {
  .wrapper header .logom i#logom {
    background-size: 45%;
  }
}
.wrapper #top {
  height: 100vh;
}
.wrapper #about {
  padding-top: 300px;
  padding-bottom: 300px;
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 736px) {
  .wrapper #about {
    padding-bottom: 150px;
  }
}
.wrapper #about .column {
  width: 33.33%;
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}
@media screen and (max-width: 768px) {
  .wrapper #about .column {
    width: 100%;
  }
}
.wrapper #about .column img {
  display: block;
  margin: 0 auto;
}
.wrapper #about .column p.aboutcontent {
  display: block;
  margin: 1em auto;
  width: 270px;
  line-height: 1.5;
}
.wrapper #about .column p.aboutcontent a {
  color: #ffc0cb;
}
section#timeline-section .span {
  width: 100vw;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
}
section#timeline-section #timeline {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  position: absolute;
  z-index: 1;
  left: 0;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
  transform-origin: 0 0 0;
}
@media screen and (max-width: 736px) {
  section#timeline-section #timeline {
    height: 200%;
    width: 200%;
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
  }
}
@media screen and (max-width: 479px) {
  section#timeline-section #timeline {
    height: 125%;
    width: 125%;
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
    transform: scale(0.8);
  }
}
section#timeline-section #timeline .bar {
  position: absolute;
  top: 520px;
  height: 10px;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-box-shadow: 0 2px 30px 0 rgba(0,0,0,0.2);
  -moz-box-shadow: 0 2px 30px 0 rgba(0,0,0,0.2);
  box-shadow: 0 2px 30px 0 rgba(0,0,0,0.2);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  will-change: transform;
}
@media screen and (max-width: 736px) {
  section#timeline-section #timeline .bar {
    top: 600px;
  }
}
@media screen and (max-width: 479px) {
  section#timeline-section #timeline .bar {
    top: 480px;
  }
}
section#timeline-section #timeline .bar .year {
  width: 330px;
  height: 100%;
  position: relative;
  -ms-box-orient: horizontal;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  background-color: #d8d8d8;
}
section#timeline-section #timeline .bar .year .year-text {
  position: absolute;
  font-family: "Helvetica Neue", Helvetica, 'TradeGothicLTPro-Bold', "Lato", Arial, "Lucida Grande", sans-serif;
  font-size: 2.3em;
  line-height: 90px;
  -webkit-font-smoothing: antialiased;
  color: #4a4a4a;
  text-transform: uppercase;
  text-align: center;
  vertical-align: middle;
  top: -50px;
  left: -140px;
  background-color: #fff;
  border: 14px solid #9b9b9b;
  width: 90px;
  height: 90px;
  -khtml-border-radius: 90px;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  border-radius: 90px;
}
section#timeline-section #timeline .bar .year .project {
  width: 100%;
  height: 100%;
  position: relative;
}
section#timeline-section #timeline .bar .year .project .line {
  position: absolute;
  z-index: -1;
  width: 12px;
  display: block;
  bottom: 21px;
  left: 50%;
  margin: -6px;
}
section#timeline-section #timeline .bar .year .project .line .fill {
  width: 2px;
  height: 100%;
  padding-top: 12px;
  margin-left: 5px;
  display: block;
}
section#timeline-section #timeline .bar .year .project .line .fill:after {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-color: #9b9b9b;
}
section#timeline-section #timeline .bar .year .project .line .dot {
  -ms-filter: "alpha(opacity=@calc_val)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  width: 12px;
  height: 12px;
  border: 2px solid #9b9b9b;
  position: absolute;
  top: -2px;
  left: 50%;
  margin-left: -8px;
  -khtml-border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
}
section#timeline-section #timeline .bar .year .project .line .dot.pulse span {
  background-color: #9b9b9b;
  display: block;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  -khtml-border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  margin: -6px 0 0 -6px;
}
section#timeline-section #timeline .bar .year .project .detail {
  -ms-filter: "alpha(opacity=@calc_val)";
  -moz-opacity: 1;
  -khtml-opacity: 1;
  opacity: 1;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  margin-bottom: -10px;
  position: absolute;
  width: 250px;
  left: 50%;
  margin-left: -125px;
  -khtml-border-radius: 12px;
  -moz-border-radius: 12px;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  text-align: left;
}
section#timeline-section #timeline .bar .year .project .detail .image {
  line-height: 0;
  overflow: hidden;
  -khtml-border-top-left-radius: 12px;
  -moz-border-top-left-radius: 12px;
  -webkit-border-top-left-radius: 12px;
  border-top-left-radius: 12px;
  -khtml-border-top-right-radius: 12px;
  -moz-border-top-right-radius: 12px;
  -webkit-border-top-right-radius: 12px;
  border-top-right-radius: 12px;
}
section#timeline-section #timeline .bar .year .project .detail .text {
  background-color: #d8d8d8;
  overflow: hidden;
  -khtml-border-bottom-left-radius: 12px;
  -moz-border-bottom-left-radius: 12px;
  -webkit-border-bottom-left-radius: 12px;
  border-bottom-left-radius: 12px;
  -khtml-border-bottom-right-radius: 12px;
  -moz-border-bottom-right-radius: 12px;
  -webkit-border-bottom-right-radius: 12px;
  border-bottom-right-radius: 12px;
  padding: 10px 10px 16px;
}
section#timeline-section #timeline .bar .year .project .detail .text .title {
  font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  font-size: 1.2em;
  line-height: 1.286em;
  color: #4a4a4a;
  font-weight: 700;
  margin: 0;
  letter-spacing: 0;
  margin-bottom: 2px;
  display: block;
}
section#timeline-section #timeline .bar .year .project .detail .text .desc {
  color: #4a4a4a;
  font-size: 1em;
}
section#timeline-section #timeline .bar .year .project .detail .text a {
  color: #fff;
}
section#timeline-section #timeline .bar .year .project .detail:after {
  content: '';
  position: absolute;
  bottom: -16px;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-top-color: #d8d8d8;
}
section#timeline-section #timeline .bar .year:after {
  content: '';
  position: absolute;
  z-index: 1;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
}
section#timeline-section #timeline .bar .year:last-child:after {
  display: none;
}
section#timeline-section #timeline .bar .year:first-child .year-text {
  display: none;
}
#timeline-section #timeline .bar .year .project .text-noBG {
  margin-bottom: -10px;
  position: absolute;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  overflow: hidden;
  padding: 10px 10px 16px;
  text-align: left;
}
#timeline-section #timeline .bar .year .project .text-noBG .title {
  font-family: Helvetica, "Helvetica Neue", Arial, "Lucida Grande", sans-serif;
  font-size: 1.2em;
  line-height: 1.286em;
  color: #4a4a4a;
  font-weight: 700;
  margin: 0;
  letter-spacing: 0;
  margin-bottom: 2px;
  display: block;
}
#timeline-section #timeline .bar .year .project .text-noBG .desc {
  color: #4a4a4a;
  font-size: 1em;
}
#coverletter {
  padding-top: 60%;
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 1921px) and (max-width: 2560px) {
  #coverletter {
    padding-top: 40%;
  }
}
@media screen and (max-width: 1024px) {
  #coverletter {
    padding-top: 70%;
  }
}
@media screen and (max-width: 768px) {
  #coverletter {
    padding-top: 90%;
  }
}
@media screen and (max-width: 736px) {
  #coverletter {
    padding-top: 80%;
  }
}
@media screen and (max-width: 479px) {
  #coverletter {
    padding-top: 100%;
  }
}
@media screen and (max-width: 425px) {
  #coverletter {
    padding-top: 160%;
  }
}
#coverletter .contect {
  width: 90%;
  margin: 0 auto;
}
#coverletter .contect p {
  margin: 1em auto;
  padding: 0 5%;
  line-height: 1.5;
  text-indent: 4em;
}
#coverletter .contect .iconbar {
  width: 80%;
  margin: 0 auto;
}
#coverletter .contect .iconbar .icon {
  width: 33.33%;
  margin: 0 auto;
  padding-top: 10%;
  padding-bottom: 5%;
  display: inline-block;
  vertical-align: top;
}
#coverletter .contect .iconbar .icon i.facebook {
  background: url("../images/fb.svg") no-repeat center;
  background-color: #d8d8d8;
}
#coverletter .contect .iconbar .icon i.facebook:hover {
  background-color: #ff7bac;
}
#coverletter .contect .iconbar .icon i.email {
  background: url("../images/email.svg") no-repeat center;
  background-color: #d8d8d8;
}
#coverletter .contect .iconbar .icon i.email:hover {
  background-color: #ff7bac;
}
#coverletter .contect .iconbar .icon i.scrolltop {
  background: url("../images/top.svg") no-repeat center;
  background-color: #d8d8d8;
}
#coverletter .contect .iconbar .icon i.scrolltop:hover {
  background-color: #ff7bac;
}
#coverletter .contect .iconbar .icon i {
  display: block;
  margin: 0 auto;
  width: 80px;
  height: 80px;
  line-height: 80px;
  vertical-align: middle;
  font-style: normal;
  -khtml-border-radius: 80px;
  -moz-border-radius: 80px;
  -webkit-border-radius: 80px;
  border-radius: 80px;
}
@media screen and (max-width: 736px) {
  #coverletter .contect .iconbar .icon i {
    width: 60px;
    height: 60px;
    line-height: 60px;
    -khtml-border-radius: 60px;
    -moz-border-radius: 60px;
    -webkit-border-radius: 60px;
    border-radius: 60px;
  }
}
#coverletter .contect .iconbar .icon i a {
  width: 80px;
  height: 80px;
  display: block;
}
footer {
  width: 90%;
  height: 80px;
  margin: 0 auto;
  background-color: #3cc;
}
@media screen and (max-width: 768px) {
  footer {
    width: 100%;
  }
}
footer copyright {
  display: table;
  margin: 0 auto;
  color: #fff;
  line-height: 80px;
}
/* ---- button ---- */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h2 {
  color: #ff7bac;
  display: inline;
}
@media screen and (max-width: 736px) {
  h2 {
    display: none;
  }
}
h3 {
  display: inline;
  padding: 0 4px;
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 1.5em;
    margin: 0 6px;
    text-align: right;
    display: block;
  }
}
@media screen and (min-width: 769px) {
  .button {
    display: inline-block;
    padding: 0.5em 1em;
    background: #eee;
    border: none;
    border-radius: 7px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,0.2));
    color: #222;
    font-family: sans-serif;
    font-size: 16px;
    text-shadow: 0 1px #fff;
    cursor: pointer;
  }
}
@media screen and (min-width: 769px) {
  .button:hover {
    background-color: #82ffff;
    text-shadow: 0 1px rgba(255,255,255,0.5);
    color: #222;
  }
}
@media screen and (min-width: 769px) {
  .button:active,
  .button.is-checked {
    background-color: #3cc;
  }
}
@media screen and (min-width: 769px) {
  .button.is-checked {
    color: #fff;
    text-shadow: 0 -1px rgba(0,0,0,0.8);
  }
}
@media screen and (min-width: 769px) {
  .button:active {
    box-shadow: inset 0 1px 10px rgba(0,0,0,0.8);
  }
}
/* ---- button-group ---- */
@media screen and (min-width: 769px) {
  .button-group .button {
    float: left;
    border-radius: 0;
    margin-left: 0;
    margin-right: 1px;
  }
}
@media screen and (min-width: 769px) {
  .button-group .button:first-child {
    border-radius: 0.5em 0 0 0.5em;
  }
}
@media screen and (min-width: 769px) {
  .button-group .button:last-child {
    border-radius: 0 0.5em 0.5em 0;
  }
}
header nav {
  width: 100vw;
  margin: 0 auto;
  height: 200px;
  background-color: #fff;
  position: fixed;
  z-index: 4;
}
@media screen and (min-width: 769px) and (max-width: 1224px) {
  header nav {
    height: 270px;
  }
}
@media screen and (max-width: 768px) {
  header nav {
    height: 120px;
  }
}
@media screen and (max-width: 736px) {
  header nav {
    height: 80px;
  }
}
@media screen and (max-width: 768px) {
  header nav .rightnav {
    z-index: 11;
    margin-top: 0 !important;
  }
}
@media screen and (max-width: 768px) {
  header nav .rightnav #link-resume {
    z-index: 11;
    position: absolute;
    left: 100%;
    top: 110px;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
  }
}
@media screen and (max-width: 736px) {
  header nav .rightnav #link-resume {
    top: 60px;
  }
}
@media screen and (max-width: 479px) {
  header nav .rightnav #link-resume {
    top: 60px;
  }
}
header nav .rightnav #link-resume a {
  font-size: 2.5em;
  color: #ffc0cb;
  display: block;
  text-align: right;
}
@media screen and (max-width: 768px) {
  header nav .rightnav #link-resume a {
    color: #fff;
  }
}
@media screen and (max-width: 768px) {
  header nav .rightnav #link-resume.open {
    left: 75%;
    top: 110px;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
  }
}
@media screen and (max-width: 736px) {
  header nav .rightnav #link-resume.open {
    top: 60px;
    left: 64%;
  }
}
@media screen and (max-width: 479px) {
  header nav .rightnav #link-resume.open {
    left: 46%;
    top: 60px;
  }
}
header nav .button-box {
  position: absolute;
  left: 180px;
  top: 100px;
}
@media screen and (min-width: 1920px) and (max-width: 2560px) {
  header nav .button-box {
    left: 250px;
  }
}
@media screen and (max-width: 768px) {
  header nav .button-box {
    text-align: right;
    left: 100%;
    top: 160px;
    z-index: 11;
    -webkit-transitionv: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
  }
}
@media screen and (max-width: 736px) {
  header nav .button-box {
    top: 112px;
  }
}
@media screen and (max-width: 479px) {
  header nav .button-box {
    top: 112px;
  }
}
header nav .button-box .filters,
header nav .button-box .sort {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  header nav .button-box .filters,
  header nav .button-box .sort {
    vertical-align: top;
  }
}
header nav .button-box .filters .button-group,
header nav .button-box .sort .button-group {
  margin-bottom: 20px;
  display: inline-flex;
}
@media screen and (max-width: 768px) {
  header nav .button-box .filters .button-group,
  header nav .button-box .sort .button-group {
    display: block;
    text-align: right;
    width: 150px;
    margin-right: 14px;
  }
}
@media screen and (max-width: 768px) {
  header nav .button-box .filters .button-group .button,
  header nav .button-box .sort .button-group .button {
    color: #fff;
    width: 160px;
    text-align: right;
    font-size: 1.1em;
  }
}
@media screen and (max-width: 768px) {
  header nav .button-box .filters .button-group .button:active,
  header nav .button-box .sort .button-group .button:active,
  header nav .button-box .filters .button-group .button.is-checked,
  header nav .button-box .sort .button-group .button.is-checked {
    color: #ff7bac;
  }
}
header nav .button-box .filters .button-group:after,
header nav .button-box .sort .button-group:after {
  content: '';
  display: block;
  clear: both;
}
@media screen and (max-width: 768px) {
  header nav .button-box.open {
    left: 34%;
    -webkit-transition: left 1s;
    -moz-transition: left 1s;
    -o-transition: left 1s;
    transition: left 1s;
  }
}
@media screen and (max-width: 736px) {
  header nav .button-box.open {
    left: 15%;
  }
}
@media screen and (max-width: 479px) {
  header nav .button-box.open {
    left: -3%;
  }
}
/* item is invisible, but used for layout */
.design-item {
  width: 180px;
  height: 180px;
  position: relative;
  float: left;
}
@media screen and (max-width: 360px) {
  .design-item {
    width: 160px;
    height: 160px;
  }
}
.design-item > * {
  margin: 0;
  padding: 0;
}
.design-item p {
  position: absolute;
  visibility: hidden;
}
/* item-content is visible, and transitions size */
.item-content-h,
.item-content-v {
  width: 180px;
  height: 180px;
  background: #0d8;
  -webkit-transition: width 0.4s, height 0.4s;
  -moz-transition: width 0.4s, height 0.4s;
  -o-transition: width 0.4s, height 0.4s;
  transition: width 0.4s, height 0.4s;
}
@media screen and (max-width: 360px) {
  .item-content-h,
  .item-content-v {
    width: 160px;
    height: 160px;
  }
}
.design-item:hover .item-content-h,
.design-item:hover .item-content-v {
  background: #8cf;
  cursor: pointer;
}
/* both item and item content change size */
.design-item.is-expanded1,
.design-item.is-expanded1 .item-content-h {
  width: 540px;
  height: 360px;
}
@media screen and (max-width: 360px) {
  .design-item.is-expanded1,
  .design-item.is-expanded1 .item-content-h {
    width: 480px;
    height: 320px;
  }
}
.design-item.is-expanded2,
.design-item.is-expanded2 .item-content-v {
  width: 360px;
  height: 540px;
}
@media screen and (max-width: 360px) {
  .design-item.is-expanded2,
  .design-item.is-expanded2 .item-content-v {
    width: 320px;
    height: 480px;
  }
}
.design-item.is-expanded1,
.design-item.is-expanded2 {
  z-index: 2;
}
.design-item.is-expanded1 .item-content-h,
.design-item.is-expanded2 .item-content-v {
  background: #f90;
}
/* ---- isotope ---- */
#portfolios {
  padding-top: 260px;
}
@media screen and (min-width: 769px) and (max-width: 1224px) {
  #portfolios {
    padding-top: 270px;
  }
}
@media screen and (max-width: 768px) {
  #portfolios {
    padding-top: 120px;
  }
}
#portfolios .grid {
  background: #fff;
  margin: 0 auto;
  padding: 0 5% 10px 5%;
}
@media screen and (max-width: 398px) {
  #portfolios .grid {
    padding: 0 0 10px 0;
  }
}
#portfolios .grid .design-item a {
  position: absolute;
  color: #fff;
  left: 2px;
  z-index: 3;
}
#portfolios .grid .design-item:nth-child(1) .item-content-v {
  background: url("../images/graphic01tarot.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(2) .item-content-h {
  background: url("../images/web01masapoly.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(3) .item-content-v {
  background: url("../images/graphic04bioderma.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(4) .item-content-h {
  background: url("../images/handi06wristband.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(5) .item-content-v {
  background: url("../images/graphic17innovacolor.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(6) .item-content-v {
  background: url("../images/illu04magicion.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(7) .item-content-v {
  background: url("../images/graphic32karuizawa.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(8) .item-content-v {
  background: url("../images/graphic13innovatriangle.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(9) .item-content-h {
  background: url("../images/graphic03wedding.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(10) .item-content-v {
  background: url("../images/graphic02actress.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(11) .item-content-v {
  background: url("../images/handi02wreaths.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(12) .item-content-v {
  background: url("../images/graphic20innovaphoenix.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(13) .item-content-h {
  background: url("../images/graphic18namecardNa.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(14) .item-content-v {
  background: url("../images/illu07pries.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(15) .item-content-v {
  background: url("../images/handi07flowers.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(16) .item-content-h {
  background: url("../images/films01afterbefore.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(16) .item-content-h #player {
  position: absolute;
}
#portfolios .grid .design-item:nth-child(17) .item-content-v {
  background: url("../images/graphic29karuizawa.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(18) .item-content-v {
  background: url("../images/graphic07taipeiB.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(19) .item-content-v {
  background: url("../images/graphic27karuizawa.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(20) .item-content-h {
  background: url("../images/handi01bags.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(21) .item-content-h {
  background: url("../images/graphic05innovaline.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(22) .item-content-h {
  background: url("../images/graphic25packagemask.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(23) .item-content-v {
  background: url("../images/illu01fool.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(24) .item-content-v {
  background: url("../images/graphic19innovatour.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(25) .item-content-h {
  background: url("../images/handi04wreaths.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(26) .item-content-v {
  background: url("../images/graphic24masahistary.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(27) .item-content-h {
  background: url("../images/films02lingarden.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(28) .item-content-v {
  background: url("../images/graphic14innovabmx.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(29) .item-content-v {
  background: url("../images/graphic21noreva.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(30) .item-content-v {
  background: url("../images/illu05pantacles.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(31) .item-content-v {
  background: url("../images/graphic16innovacity.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(32) .item-content-h {
  background: url("../images/illu06kiki.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(33) .item-content-v {
  background: url("../images/graphic34karuizawa.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(34) .item-content-h {
  background: url("../images/handi08wristband.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(35) .item-content-v {
  background: url("../images/graphic06taipeiP.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(36) .item-content-v {
  background: url("../images/handi13flowers.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(37) .item-content-h {
  background: url("../images/web02dreamlake.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(38) .item-content-v {
  background: url("../images/handi12wreaths.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(39) .item-content-h {
  background: url("../images/graphic08namecardSun.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(40) .item-content-h {
  background: url("../images/illu02typhoondraft.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(41) .item-content-v {
  background: url("../images/graphic09innovaSynthesis.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(42) .item-content-v {
  background: url("../images/graphic35karuizawa.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(43) .item-content-v {
  background: url("../images/illu03woman.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(44) .item-content-h {
  background: url("../images/handi05flowers.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(45) .item-content-h {
  background: url("../images/graphic11packagemask.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(46) .item-content-v {
  background: url("../images/graphic23masaloading.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(47) .item-content-h {
  background: url("../images/handi03wristband.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(48) .item-content-v {
  background: url("../images/graphic22masamap.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(49) .item-content-h {
  background: url("../images/graphic15innovacatalog.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(50) .item-content-v {
  background: url("../images/graphic30reasons.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(51) .item-content-h {
  background: url("../images/illu09typhooncat.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(52) .item-content-h {
  background: url("../images/handi17bags.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(53) .item-content-v {
  background: url("../images/graphic26wecare.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(54) .item-content-v {
  background: url("../images/handi15wreaths.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(55) .item-content-v {
  background: url("../images/graphic31karuizawa.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(56) .item-content-h {
  background: url("../images/handi14wristband.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(57) .item-content-h {
  background: url("../images/handi09wreaths.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(58) .item-content-v {
  background: url("../images/graphic12innovatriangle.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(59) .item-content-v {
  background: url("../images/illu08charior.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(60) .item-content-h {
  background: url("../images/graphic28karuizawa02.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(61) .item-content-h {
  background: url("../images/handi16shoses.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(62) .item-content-v {
  background: url("../images/graphic10innovaSynthesis.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(63) .item-content-h {
  background: url("../images/graphic33karuizawa.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(64) .item-content-h {
  background: url("../images/handi11wristband.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(65) .item-content-v {
  background: url("../images/handi10flowers.jpg") no-repeat top left;
}
#portfolios .grid .design-item:nth-child(66) .item-content-v {
  background: url("../images/web03epaper.jpg") no-repeat top left;
}
#portfolios .grid:after {
  content: '';
  display: block;
  clear: both;
}
@media screen and (min-width: 1024px) {
  #portfolios .grid .design-item .item-content-v:before,
  #portfolios .grid .design-item .item-content-h:before {
    content: '';
    display: block;
    width: 180px;
    height: 180px;
    background-color: #000;
    opacity: 0.5;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  }
  #portfolios .grid .design-item .item-content-v:hover:before,
  #portfolios .grid .design-item .item-content-h:hover:before {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }
  #portfolios .grid .design-item.is-expanded1 .item-content-h:before {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }
  #portfolios .grid .design-item.is-expanded1 .item-content-h:hover:before {
    width: 540px;
    height: 360px;
    opacity: 0.5;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  }
  #portfolios .grid .design-item.is-expanded2 .item-content-v:before {
    opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }
  #portfolios .grid .design-item.is-expanded2 .item-content-v:hover:before {
    width: 360px;
    height: 540px;
    opacity: 0.5;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  }
}
